@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #eeeeee;
}

body {
  /*background-image: url(/api/v1/static/background);*/
  /*background-image: url(file:///data/mounts/background.jpg);*/
  background-position: center;
  background-size: cover;
  color: var(--main-color);
}

input, 
select {
  color: #333333;
  padding: 4px;
  border-radius: 4px;
}
